.oderSummary_contenedor {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: white;
  border-radius: 30px;
}


@media (min-width: 376px) {

  .oderSummary_contenedor {
    height: auto;
    width: auto;
    justify-content: center;
  }
}
